body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  background-image: url('../assets/tableBackground.png');
  /*min-height: 100vw;
  width: 100%;
  min-width: 100%;*/
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 3em;
  margin: 0;
  text-shadow: 3px 3px 3px #000
}

.container {
  width: 80vw;
  max-width: 1000px;
  min-width: 220px;
  /*height: 80%;*/
  max-height: 600px;
  min-height: 100px;
  margin: 20px auto;
  box-sizing: border-box;
  border-radius: 20px;
  /*background-color: brown;*/
  padding: 10px;
  text-align: center;
  /*background-image: url('../assets/tableBackground.png');*/
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.hand {
  display: block;
  text-align: center;
  height: 200px;
  max-height: 40%;
  margin: 10px;
  border-radius: 20px;
  box-sizing: border-box;
  /*min-width: 200px;*/
  /*position: relative;*/
}

#dealer-hand {
  /*background-color: rgba(255,0,0,.25);*/
  /*border: dashed 1px yellow;*/
}

#player-hand {
  /*background-color: rgba(0,0,255,.25);*/
  /*border: dashed 1px lightblue;*/
}

.card {
  height: 181px;
  width: 125px;
  /*max-height: 8em;
  max-width: 5.52em;*/
  border-radius: 6px;
  display: inline-block;
  margin: 10px -40px;
  background-size: cover;
  background-repeat: no-repeat;

}

.banner {
  margin: 10px;
  height: 10%;
  max-height: 50px;
  /*background-color: rgba(0,255,255,.25);*/
  color: white;
  box-sizing: border-box;
}

.text-box {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  display: inline-block;
  width: 30%;
}

#message-box {
  font-weight: 100;
  font-style: italic;
  border-left: solid 2px white;
  border-right: solid 2px white;
  width: 30%;
  padding: 0px 10px;
  text-shadow: 2px 2px 1px #000
}

#player-box{
  text-align: right;
  /*position: relative;*/
  /*width: 25%;*/
  left: 0%;
  margin-right: 5px;
  padding: 0 5px;
  color: lightblue;
}

#dealer-box{
  /*position: relative;*/
  text-align: left;
  /*width: 25%;*/
  right: 0%;
  margin-left: 5px;
  padding: 0 5px;
  color: yellow;
}

#button-bar {
  /*background-color: rgba(255,255,255,.5);*/
  height: 10%;
  box-sizing: border-box;
}

button {
  border: solid 2px rgba(255,255,255,0);
  border-radius: 5px;
  margin: 5px;
  box-shadow: 2px 2px 2px black;
  transition: .25s all;
  background-color: lightgrey;
  outline: transparent;
}

button:hover {
  background-color: #333;
  color: #eee;
  border: solid 2px rgba(255,255,255,.75);
  animation: flashingborder .75s linear infinite alternate;
  cursor: pointer;
}

button: focus {
  background-color: darkblue;
  color: white;
}

@keyframes flashingborder {
  50% {
    border: solid 2px rgba(255,255,255,0);
  }
}

.subdued {
  /*background-color: rgba(255,255,255,.2);*/
  opacity: .2;
  box-shadow: none;
  border: none;
}

.subdued:hover {
  animation: none;
  background-color: lightgrey;
  color: black;
  cursor: default;
  border: none;
}

.flipin {
  transform-origin: left;
  animation: flipin .25s ease-out forwards;
}

.flipout {
  transform-origin: left;
  animation: flipout .25s ease-in;
}

.flyin {
  animation: flyin .5s ease-in;
}

.loop {
  animation: loopin 1s ease-in-out forwards;
  /*transform-origin: left;*/
  /*transform-style: preserve-3d;*/
}

@keyframes flyin {
  0% {
    transform: perspective(500px) translate3d(30px, -1000px, 50px) rotate(60deg);
  }
}

@keyframes loopin {
  0% {
    transform: perspective(500px) translate3d(0px, 0px, 0px) rotateY(0deg);
  }
  25% {
    transform: perspective(500px) translate3d(-75px, 0px, 30px) rotateY(30deg);
  }
  50% {
    transform: perspective(500px) translate3d(-75px, 0px, 30px) rotateY(100deg);
  }
  75% {
    transform: perspective(500px) translate3d(-75px, 0px, 30px) rotateY(30deg);
  }
  100% {
    transform: perspective(500px) translate3d(-75px, 0px, 30px) rotateY(30deg);
  }
}

@keyframes loop {
  0% {
    transform: perspective(500px) translate3d(0px, 0px, -1px) rotateX(0deg);
  }
  25% {
    transform: perspective(500px) translate3d(0px, 250px, 50px) rotateX(90deg);
  }
  50% {
    transform: perspective(500px) translate3d(0px, 0px, 100px) rotateX(180deg);
  }
  75% {
    transform: perspective(500px) translate3d(0px, -250px, 50px) rotateX(270deg);
  }
  100% {
    transform: perspective(500px) translate3d(0px, 0px, -1px) rotateX(360deg);
  }
}

@keyframes flipin {
  0% {
    transform: rotateY(90deg);
    backface-visibility: hidden;
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes flipout {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
    backface-visibility: hidden;
  }
}

/*.subdued {
  opacity: .2;
  box-shadow: none;
  animation: none;
}*/

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

p {
  margin: 0;
}
