body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  background-image: url('../assets/tableBackground.png');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: white;
}

#info-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 40px;
  width: 40px;
  border: dashed 5px rgba(255,255,255,0);
  border-radius: 100%;
  opacity: .5;
  box-sizing: border-box;
  vertical-align: center;
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}

#info-button:hover {
  cursor: pointer;
}

#info-button:before {
  position: absolute;
  border: dotted 4px white;
  content: '';
  border-radius: 50%;
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
}

#info-button:hover::before {
  animation: rotate 5s linear infinite;
  animation-play-state: running;
}

#info-panel {
  font-size: 13px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
  position: absolute;
  top: 200px;
  left: 50%;
  /*background-color: lightblue;*/
  height: 400px;
  width: 60%;
  margin-top: -100px;
  margin-left: -30%;
}

#info-content{
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0,.2);
  padding: 10px;
  border-radius: 10px;
}

#info-content::-webkit-scrollbar {
  border-radius: 10px;
/*  width: 15px;*/
  background-color: rgba(0,0,0,.15);
}

#info-content::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.3);
  border-radius: 5px;
}

#info-panel p {
  text-align: justify;
  text-shadow: 2px 2px 2px #000;
}

#ok-button {
  position: relative;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1 {
  font-weight: 700;
  font-size: 3em;
  margin: 0;
  text-shadow: 3px 3px 3px #000
}

.container {
  width: 80vw;
  max-width: 1000px;
  max-height: 600px;
  min-width: 220px;
  min-height: 100px;
  margin: 20px auto;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  /*background-image: url('../assets/tableBackground.png');*/
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.hand {
  display: block;
  text-align: center;
  height: 200px;
  max-height: 40%;
  margin: 10px;
  border-radius: 20px;
  box-sizing: border-box;
}

#player-hand {

}

#dealer-hand {

}

.card {
  height: 181px;
  width: 125px;
  /*max-height: 8em;
  max-width: 5.52em;*/
  border-radius: 6px;
  display: inline-block;
  margin: 10px -40px;
  background-size: cover;
  background-repeat: no-repeat;
}

#dealer-hand .card {
  transform: perspective(500px) rotateY(0deg);
}

#dealer-card-1 {
  transform: perspective(500px) rotateY(180deg);
}

.banner {
  margin: 10px;
  height: 55px;
  color: white;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.text-box {
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-size: 1em;
  letter-spacing: 2px;
  display: inline-block;
  margin: 0 7%;
  height: 55px;
  box-sizing: border-box;
  /*background-color: rgba(255,255,255,.25);*/
}

.text-box p {
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 3px;
}

.text-container {
  height: 55px;
  box-sizing: border-box;
}

#total-box {
  display: inline-block;
  position: relative;
  width: 35%;
  border-left: solid 2px white;
}

#player-box {
  text-align: left;
  left: 0px;
  top: 0px;
  width: 43%;
  /*padding: 0 5px;*/
  color: lightblue;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
}

#dealer-box{
  text-align: right;
  right: 0px;
  bottom: 0px;
  width: 43%;
  color: yellow;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
}

#message-box {
  /*font-style: italic;*/
  width: 30%;
  /*padding: 0px 5px;*/
  display: inline-block;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}

#message {
  display: inline-block;
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
  /*font-style: italic;*/
  /*padding: 0 5px;*/
  position: absolute;
  width: 86%;
  /*height: 55px;*/
  text-shadow: 2px 2px 1px #000;
  left: 0px;
  transition: .4s all;
}

#message p {
  font-size: 1em;
  font-weight: 300;
}

input {
  font-family: 'Dosis', sans-serif;
  margin: 5px;
  font-size: 16px;
  size: 7;
}

#input-bet {
  padding: 3px;
  font-weight: 100;
  outline: transparent;
  border: solid 2px white;
  border-radius: 5px;
  background-color: transparent;
  color: gold;
}

#submit-bet {
  border: solid 2px rgba(255,255,255,0);
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  background-color: lightgrey;
  outline: transparent;
  transition: .25s all;
  box-sizing: border-box;
}

#submit-bet:hover {
  background-color: #333;
  color: #eee;
  border: solid 2px rgba(255,255,255,.75);
  animation: flashingborder .75s linear infinite alternate;
  cursor: pointer;
}

#submit-bet:active {
  box-shadow: none;
  transform: perspective(500) translateZ(-10px);
  color: white;
  background-color: lightgray;
}

#money-box {
  display: inline-block;
  border-right: solid 2px white;
  position: relative;
  /*left: 0%;*/
  width: 35%;
  opacity: .75;
}

#player-money {
  display: inline-block;
  text-align: left;
  position: absolute;
  left: 0px;
  width: 43%;
}

#player-bet {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 0px;
  width: 43%;
}

#button-bar {
  /*background-color: rgba(255,255,255,.5);*/
  height: 10%;
  box-sizing: border-box;
}

button {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 1em;
  letter-spacing: 1px;
  border: solid 2px rgba(255,255,255,0);
  border-radius: 10px;
  margin: 5px;
  box-shadow: 2px 2px 2px black;
  transition: .25s all;
  background-color: lightgrey;
  outline: transparent;
}

button:hover {
  background-color: #333;
  color: #eee;
  border: solid 2px rgba(255,255,255,.75);
  animation: flashingborder .75s linear infinite alternate;
  cursor: pointer;
  border-radius: 0px;
}

button:active {
  box-shadow: none;
  color: white;
  background-color: lightgray;
}

@keyframes flashingborder {
  50% {
    border: solid 2px rgba(255,255,255,0);
  }
}

.flyin {
  animation: flyin .5s ease-in;
}

.loop {
  animation: flipover 1s ease-out forwards;
  /*transform-origin: left;*/
  transform-style: preserve-3d;
}

@keyframes flyin {
  0% {
    transform: perspective(500px) translate3d(30px, -1000px, 50px) rotate(60deg);
  }
}

@keyframes flipover {
  0% {
    transform: perspective(500px) translate3d(0px, 0px, 0px) rotateY(-180deg);
  }
  35% {
    transform: perspective(500px) translate3d(-85px, 0px, 0px) rotateY(-180deg);
  }
  50% {
    transform: perspective(500px) translate3d(-85px, 0px, 30px) rotateY(-81deg); /* 99 deg centerline */
  }
  75% {
    transform: perspective(500px) translate3d(-80px, 0px, 30px) rotateY(30deg);
    z-index: 5;
  }
  100% {
    transform: perspective(500px) translate3d(-80px, 0px, 30px) rotateY(30deg);
  }
}

.subdued {
  /*background-color: rgba(255,255,255,.2);*/
  opacity: .2;
  box-shadow: none;
  border: none;
  animation: none;
}

.subdued:hover {
  animation: none;
  background-color: lightgrey;
  color: black;
  cursor: default;
  border: none;
  border-radius: 10px;
}

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

p {
  margin: 0;
  /*display: inline;*/
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}
